<h2><%= @wine.name %></h2>
<p><%= @wine.domaine %></p>
<p><%= @wine.millesime %></p>
<p>A boire avant<%= @wine.millesime + @wine.garde %></p>
<p><%= @wine.rating  %>/5</p>
<%= link_to "Back", :back %>
<%= link_to "Edit", edit_wine_path(@wine) %>
<%= link_to "Delete",
            wine_path(@wine),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
